
.tq2 {
  background-color: #FF8C00;
  color:#FF5427;
}
.tq3 {
  background-color: #EBD7B0;
  color:#FF5427;
}
.tq4 {
  background-color: #91D9CD;
  color:#FF5427;
}
.tq5 {
  background-color: #54B3C2;
  color:#FF5427;
}