<div ng-include="'components/navbar/navbar.html'"></div>

<div class='container'>
    <form class="form-inline" role="form" ng-submit='submit()'>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class='glyphicon glyphicon-user'></i>
                </div>
                <input ng-model='query.pattern' class="form-control" name="username" placeholder="Enter username">
            </div>
        </div>
        <button type="submit" class="btn btn-success qt3"><i class='glyphicon glyphicon-search
'><span> search </span></i>
        </button>
    </form>

<br>
<br>
    <table class='table table-hover' id='friend_list'>
        <tr ng-repeat='friend in u.friends'>
            <td class="tq3 text-center">{{friend.name}}</td>
            <td class="tq4">{{friend.email}}</td>
            <td class='tq5'>
                <button ng-click='delete(friend._id)' class='btn btn-danger'><i class='glyphicon glyphicon-remove-circle'><span> remove</span></i>
                </button>
            </td>
        </tr>
    </table>

</div>