<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Title</h2>
                    <hr>
                    <input class="form-control" style="margin-bottom:15px;" type="text" id="title" name="title" placeholder="Put title here" ng-model="title">

                    <h2>Description</h2>
                    <hr>

                    <summernote ng-model="description" height="300"></summernote>

                    <button ng-click="addProblem()" style="margin:15px 0 15px 0;" type="button" id="sendProblem" class="btn btn-default">Save Problem</button>
                    <div>
                        <div ng-show="feedback" class="alert alert-success" role="alert">
                           Problem saved! Click <a href="/home" class="alert-link">here</a> to check your problems!
                        </div>

                    </div>
            </div>
        </div>
    </div>

    <!-- <script type="text/javascript" src="/js/addProblem.js"></script> -->