$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

$gray-light: lighten(#000, 60%) !default;
$color1: #112F41;
$color2: #065577;
$color3: #6FB07F;
$color4: #FCB03C;
$color5: #FC5B3F;


$table-bg-hover:                #ccc !default;


// Inverted navbar
// Reset inverted navbar basics
$navbar-inverse-color:                      $color5 !default;
$navbar-inverse-bg:                         $color1 !default;
$navbar-inverse-border:                     darken($navbar-inverse-bg, 10%) !default;

// Inverted navbar links
$navbar-inverse-link-color:                 $color4 !default;
$navbar-inverse-link-hover-color:           $color5 !default;
$navbar-inverse-link-hover-bg:              transparent !default;
$navbar-inverse-link-active-color:          $navbar-inverse-link-hover-color !default;
$navbar-inverse-link-active-bg:             darken($navbar-inverse-bg, 10%) !default;
$navbar-inverse-link-disabled-color:        #444 !default;
$navbar-inverse-link-disabled-bg:           transparent !default;

// Inverted navbar brand label
$navbar-inverse-brand-color:                $navbar-inverse-link-color !default;
$navbar-inverse-brand-hover-color:          $color5 !default;
$navbar-inverse-brand-hover-bg:             transparent !default;

// Inverted navbar toggle
$navbar-inverse-toggle-hover-bg:            #fff !default;
$navbar-inverse-toggle-icon-bar-bg:         $color5 !default;
$navbar-inverse-toggle-border-color:        #fff !default;

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.badge {
  margin-top: -7px;
  margin-left: -3px;
  vertical-align: top;
  font-size: 10px;
}

.dropdown-menu {
  background-color: #334D5C;
}
.dropdown-menu >li > a {
  color: #45B29D;
}

multiselect .dropdown-menu{
    width: 250%;
    padding-left: 5px;
    padding-right: 5px;
}

multiselect .dropdown-menu > li > a {
    padding: 3px 10px;
    cursor:pointer;
}
.dropdown-menu >li > a:hover {
  background-color: #EFC94C;
  color: #E27A3F;
}


body{
  background-color:#fff;
  color:$color1;
  a{
    color:$color5;
  }
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'addProblem/addProblem.scss';
@import 'admin/admin.scss';
@import 'c/c.scss';
@import 'collaborate/collaborate.scss';
@import 'friends/friends.scss';
@import 'home/home.scss';
@import 'main/main.scss';
@import 'p/p.scss';
@import 'profile/profile.scss';
@import 'search_user/search_user.scss';
// endinjector