<div ng-include="'components/navbar/navbar.html'"></div>
<div class='container'>
    <table class='table table-hover' id='friend_list'>
    <tr ng-repeat='d in docs'>
    <td class="info text-center">{{d.name}}</td>
    <td class="success">{{d.email}}</td>
    <td class='warning' ng-switch on='d.button'>
    <div ng-switch-when="add">
     <button  ng-hide='submitted' class='btn btn-info' ng-click='add(d._id,$index)'><i class='glyphicon glyphicon-plus'><span> {{d.button}}</span></i>
    </button>
     <span ng-show='submitted'>the request is sent </span></div>
    <button  ng-disable='true' ng-switch-when='remove' class='btn btn-danger'><i class='glyphicon glyphicon-ok-sign'><span> added</span></i></button>
    <span ng-switch-when='requesting'>the request is sent </span>
    </td>
   <!--  <td><button   ng-disabled='submitted' style='display:inline-block' class='btn btn-info' ng-click='add(d._id,$index)'><i class='glyphicon glyphicon-plus'><span>{{d.button}}</span></i></button></td>
    <td class='danger'  style='color:crimson' ng-show='message[$index]' >the request is already submitted!
</td> -->
    </tr>


    </table>

    </div>

