<div ng-include="'components/navbar/navbar.html'"></div>
<style>
  .ace_editor { height: 300px; font-size: 15px;}
</style>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <h1>{{problem.title}}</h1>
            <hr>
            <div ng-bind-html="problem.description"></div>
            <hr>

        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h4>Code</h4>
            <select style="margin-bottom:15px;" class="form-control" ng-model="code.currentMode" ng-options="mode for mode in modes" ng-change="codeModeChanged()"></select>
            <div class='col-md-1' style='background-color:#FFE11A;padding-left:0'>
                <div><h5 style='margin:0;color:#EA2E49'>Online</h2> </div>
                <hr style='margin:0;border-top-color:#EA2E49'>
                 <div ng-repeat='o in userList'><i style='color:#3D4C53'class='glyphicon glyphicon-eye-open'></i>  <span style="color:#0CDBE8">    {{o}}</span></div>

            </div>
            <!-- <div class='col-xs-11 col-sm-11 col-md-11 col-lg-11' ui-ace="codeOptions" ng-model="code.content"></div> -->
             <tabset class='col-xs-11 col-sm-11 col-md-11 col-lg-11'>
              <tab heading='Solution' disabled=true></tab>
              <tab heading='Run' active=true>  <div ui-ace="codeOptions" ng-model="code.run.java"></div></tab>
            </tabset>
        </div>
    </div>
    <div class="row" style="margin-bottom:15px;">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div ng-show='output.result'>
                <progressbar value="output.result.testsPassed/output.result.numberOfTests*100">your score is {{output.result.score}}</progressbar>
            </div>
            <div ng-show='output.stdout' class="alert alert-success" role='alert'>{{output.stdout}}</div>
            <div ng-show='output.stderr' class="alert alert-danger" role='alert'>{{output.stderr}}</div>
            <!-- <div ng-show='output.error' class="alert alert-info" role='alert'>{{output.error}}</div> -->
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button ng-disabled='submitted' type="button" ng-click="run()" class="btn btn-info">Run & Test</button>
            <button ng-click="save()" type="button" ng-activity-indicator="SpinnerDark" class="btn btn-success">Save</button>
        </div>


    </div>
    <div class="row" ng-show="beenTested">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="result" class="alert alert-success" role="alert">
            </div>
        </div>
    </div>
    <div class="row" ng-show="beenTested">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="progress">
                <div class="progress-bar progress-bar-success">
                </div>
                <div class="progress-bar progress-bar-danger">
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
</div>
