<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="well spacer col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <h3>Problems</h3>
            <hr>
            <p ng-repeat="t in timers">
              {{t}}
            </p>
            <p ng-if="problems.length === 0">Hmm, it seems you don't have any problems yet. Wanna <a ng-href="/addProblem">add a problem</a> to your collection?</p>
            <table class="table table-hover" ng-if="problems.length !== 0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date added</th>
                        <th>Views</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="problem in problems">
                      <td><a ng-href="/p/{{problem._id}}">{{problem.title}}</a></td>
                      <td>{{problem.date | date: 'shortDate'}}</td>
                      <td>N/A</td>
                      <td>
                        <a popover="delete" popover-trigger="mouseenter"ng-click="deleteProblem(problem)"><i class="glyphicon glyphicon-trash"></i></a>
                        <a popover="edit" popover-trigger="mouseenter"ng-click="edit(problem)"><i class="glyphicon glyphicon-edit"></i></a>
                        <a popover="challenge" popover-trigger="mouseenter"ng-click="challenge(problem)"><i class="glyphicon glyphicon-fire"></i></a>
                        <a popover="collaborate" popover-trigger="mouseenter"ng-click="open(problem)"><i class="glyphicon glyphicon-retweet"></i></a>

                      </td>
                    </tr>
                    <!-- data goes here -->
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="well col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <h3>Challenges</h3>
            <hr>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <div class="panel panel-info">
                    <div class="panel-heading"><h5>I've created:</h5></div>
                                    <div class="panel-body">
                    <p ng-show="myChallenges.length === 0">You didn't challenge anyone, yet. Wanna do it right now?</p>
                    <accordion close-others="true">
                        <accordion-group ng-repeat="challenge in myChallenges" heading="{{challenge.problem.title}}">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Applicants</th>
                                        <th>Status</th>
                                        <th>Score</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="person in challenge.people">
                                        <td>{{person.user.name}}</td>
                                        <!-- <td>{{challenge.challengeData.people[$index]}}</td> -->

                                        <td>
                                            <span ng-hide="{{person.hasStarted}}" class="label label-warning">Pending</span>
                                                <span ng-show="{{person.hasStarted}} && {{!person.hasFinished}}" class="label label-info">Started</span>
                                                <span ng-show="{{person.gotItRight}}" class="label label-success">Right</span>
                                                <span ng-show="{{person.hasFinished}}" class="label label-default">Finished</span>
                                                <span ng-hide="{{person.gotItRight}} || {{!person.hasFinished}}" class="label label-danger">Wrong</span>
                                        </td>
                                        <td>
                                          <div ><progressbar value="55"></progressbar></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </accordion-group>
                    </accordion>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="panel panel-info">
                <div class="panel-heading"><h5>I'm participating:</h5></div>
                <div class="panel-body">
                <p ng-show="participatingChallenges.length === 0">No one challenged you, yet!</p>
                <accordion close-others="true">
                    <accordion-group ng-repeat="participatingChallenge in participatingChallenges" heading="{{participatingChallenge.problem.title}}">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <button ng-hide="participatingChallenge.hasFinished" ng-class="{disabled:participatingChallenge.hasFinished}" ng-click="takeChallenge(participatingChallenge)" class="btn btn-success btn-xs">Take Challenge</button>
                                <div ng-show="participatingChallenge.hasFinished" class="alert alert-danger">Time is over!</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <table ng-class="{spacer:!participatingChallenge.hasFinished}" class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Applicants</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="person in participatingChallenge.people">
                                            <td>{{person.user.name}}
                                            </td>
                                            <td>
                                                <span ng-hide="{{person.hasStarted}}" class="label label-warning">Pending</span>
                                                <span ng-show="{{person.hasStarted}} && {{!person.hasFinished}}" class="label label-info">Started</span>
                                                <span ng-show="{{person.gotItRight}}" class="label label-success">Right</span>
                                                <span ng-show="{{person.hasFinished}}" class="label label-default">Finished</span>
                                                <span ng-hide="{{person.gotItRight}} || {{!person.hasFinished}}" class="label label-danger">Wrong</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </accordion-group>
                </accordion>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="/js/home.js" type="text/javascript"></script> -->
