<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <h2>Problems</h2>

            <hr>
            <p ng-if="problems.length === 0">Hmm, it seems you don't have any problems yet. Wanna <a ng-href="/addProblem">add a problem</a> to your collection?</p>
            <table class="table table-hover"  ng-if="problems.length !== 0">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date added</th>
                        <th>Views</th>
                        <th>Options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="problem in problems">
                      <td><a ng-href="/p/{{problem._id}}">{{problem.title}}</a></td>
                      <td>{{problem.date}}</td>
                      <td>N/A</td>
                      <td>
                        <a ng-click="deleteProblem(problem)"><i class="glyphicon glyphicon-trash"></i></a>
                        <a ng-click="deleteProblem(problem)"><i class="glyphicon glyphicon-edit"></i></a>
                        <a ng-click="deleteProblem(problem)"><i class="glyphicon glyphicon-fire"></i></a>
                        <a ng-click="deleteProblem(problem)"><i class="glyphicon glyphicon-share"></i></a>
                        <a ng-click="open(problem)"><i class="glyphicon glyphicon-retweet"></i></a>

                      </td>
                    </tr>
                    <!-- data goes here -->
                </tbody>
            </table>
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        </div>
    </div>
</div>
<!-- <script src="/js/home.js" type="text/javascript"></script> -->
